.landingPgButtons{
    margin-top: 5vh;
    /* border: 1px solid white; */
    height: 10vh;
    display: flex;
    justify-content: center;
}

.landingPgButtons button{
    height: 70%;
    width:8vw;
    border-radius: 2em;
    border: none;
    color: white;
    background-color: #0073DD;
}