.glassWrapper-Query,.glassWrapper-FAQ{
    border: 1px solid white;
    height:43vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 1.2vh;
}

.glassWrapper-Query{
    width:50%;
}

.glassWrapper-FAQ{
    width: 80%;
    margin-bottom: 2vh;
    overflow: hidden;
    height: 8vh;
}

textarea, input{
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 90%;
}

input{
    height: 12%;

}

textarea{
    height: 43%;
}

.glassWrapper-Query button{
    color: white;
    background-color: #0073DD;
    width: 25%;
}