.DisabledButton:disabled{
    background-color: #005DB3;
    color: #B6B6B6;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.3);
    cursor: default;
}

.glassWrapper-Login{
    width: 40vw;
    height: 60vh;
    border: 1px solid #8f8f8f;
    border-radius: 15px;
    padding: 3%;
    background-color:rgba(250,250,250, 0.1);
    backdrop-filter:blur(10px);
}

.DisabledButton{
    width:100%;
    height:20%;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: #0073DD;
    cursor: pointer;
}

.LoginField{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.LoginField p{
    /* display: inline-block; */
    align-self: flex-end;
}

.LoginField input{
    height: 30%;
    border-radius: 6px;
    font-size: 15px;
    width:100%
}

